version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules # This line is important to prevent host node_modules from overwriting container's
    environment:
      NODE_ENV: development
    command: npm run dev
